@charset "ISO-8859-1";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100vh;
    background: url(../images/pacifico-adventures.jpg) center top;
    background-size: cover;
    font-family: sans-serif;
}

.login {
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    width: 320px;
    height: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 128);
    color: black;
}

.login__avatar {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.login__title {
    margin-bottom: 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login__label {
    display: block;
    font-weight: bold;
}

.login__input {
    width: 100%;
    margin-bottom: 20px;
}

.login__input__username {
    height: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
}

.login__input__password {
    height: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
}

.login__input__button {
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    color: #fff;
}

.login__link {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #a9a9a9;
}

.login__link:hover {
    color: #fff;
}
